# dependencies
/node_modules
/.pnpm
/.yarn

# testing
/coverage

# next.js build output
/.next/
/out/
/build
/dist

# environment variables
.env*.local
.env
.env.development
.env.production
!.env.example

# logs and backups
*.log
*.zip
*.tar.gz
*.7z
dev-server-*.log
prod-server-*.log

# OS & IDE metadata
.DS_Store
*.pem
.vscode/
.idea/

.vercel
